<div class="product-page">
  <div class="product-sec">
    <div class="heading">
       Product
    </div>


    <div class="filter">
      <div class="dropdown">

        <span class="fil-title">Filter By:</span>
        <select class="form-select " aria-label="Default select example">

          <option selected value="1">ALL</option>
          <option value="2">1</option>
          <option value="3">2</option>
          <option value="4">3</option>
          <option value="5">4</option>
          <option value="6">5</option>
          
        </select>

        <button class="btn btn-dark">Search</button>

      </div>
    </div>

    <div class="product-div">
      <div class="product-list">
        <div  *ngFor="let data of productArray?.data| paginate: { itemsPerPage: 21, currentPage: p }">
          <div class="card">
            <img [src]="data.image_url" alt="card image">
          </div>
        </div>

      </div>
    </div>
  </div>



  <ul class="pagination justify-content-end mt-5">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
  </ul>

</div>